* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 35px;
  font-weight: 800;
}
h1 {
  font-size: 50px;
}
.btn {
  color: white;
  background-color: #ff900e;
  width: 180px;
  height: 64px;
  border: none;
  border-radius: 10px;
  margin: 35px 0 35px 0;
}
body {
  width: 1440px;
  margin: auto;
}

/* header navbar section start  */
.header_main {
  height: 1322px;
  /* width: 1300px; */
  background-color: #f0d3b3;
}
.header_main {
  padding-top: 63px;
  /* background-color: #f0d3b3; */
}
.logo {
  font-size: 33px;
}
.nav {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  background-position: 10%;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  padding-left: 35px;
}
.main_header {
  text-align: center;
  margin-top: 100px;
  /* background: #f0d3b3; */
}
.main_header > p {
  margin: 25px 0px 0px 0px;
}
.header_img {
  height: 100vh;
  border-radius: 8px;
  margin-top: 80px;
  /* margin-bottom: 20px; */
}

/* header navbar section end  */

/* section _1 start */
.quick_list {
  align-items: center;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2rem;
  /* grid-template-rows: repeat( 1fr 1fr ); */
}

.highlist {
  color: #ff900e;
}
.team_img {
  /* grid-template-columns: repeat(2, 1fr 1fr); */
}
/* section _1 end */

/* .contain start */
.contain {
  display: flex;
  gap: 100px;
}
.contain_main {
  margin-top: 100px;
}
.contain_main > h2 {
  margin: 30px 0px;
  /* position: relative; */
}

.contain img {
  /* margin-left: 300px;
   */
  margin-top: 100px;
}
.contain_main img {
  height: 100vh;
}

.contain_main .main {
  margin: 15px 0;
  padding: 40px 20px;
  /* box-shadow: 10px 10px white; */
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.btn_1 {
  border-radius: 15px;
  height: 200px;
  width: 342px;
  background-color: #ff900e;
  color: white;
  margin-left: 800px;
  margin-top: -120px;
  border: none;
  align-items: flex-end;
}
/* .contain end */

/* section_end start */
.heading {
  margin: 130px 0;
}
.heading h2 {
  margin-bottom: 20px;
}
.same_fact {
  display: flex;
  justify-content: space-between;
}
.same_fact img {
  height: 46px;
  width: 46px;
}
.same_fact .menu {
  margin-bottom: 150px;
  height: 150px;
  width: 200px;
  text-align: center;
  padding: 20px 30px;
  border: 1px solid red;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.same_fact :hover {
  box-shadow: 0px 4px 30px rgba(211, 31, 31, 0.791);
}
/* section_end end */

/* last-section start  */
.last_section {
  text-align: center;
  margin: 120px 0 60px 0;
}
.last_section h2 {
  margin-bottom: 30px;
}
.last_section img {
  align-content: center;
  margin: 50px 50px;
}
/* last-section end */

/* footer section start  */
footer {
  height: 100px;
  background-color: #f0d3b3;
  margin-bottom: 200px;
}
.footer p {
  padding-top: 40px;
  text-align: center;
}

.btn_1 {
  display: none;
}

/* footer section end */

/* add the media quary start */

/* iphone sE @media query design */

@media (max-width: 667px) {
  body {
    width:auto;
    height: 100vh;
  }
  .nav .logo .navbar .main_header {
    width: 90%;
    height: -400px;
    padding-left: 15px;
    /* width: 660px; */
  }
  .main_header h1 {
    padding-left: 15px;
    width: 40%;
  }
  .main_header p {
    padding-top: 20px;
    width: 42%;
    padding-left: 15px;
  }
  .main_header .btn {
    margin-left: 95px;
  }
  .header_img img {
    padding-left: -15px;
    width: 100%;
  }
  .header_main .nav {
    flex-direction: column;
  }
  .navbar ul li {
    display: block;
  }
  .main_header {
    text-align: left;
  }

  .quick_list {
    /* padding-left: 5px; */
    grid-template-columns: repeat(1, 1fr);
  }
  .quick_list img {
    height: auto;
    margin-left: 70px;
    width: 60%;
    height: 100px;
  }
  .team_img img {
    grid-row-gap: 1fr;
    gap: 20px;
    height: 100%;
    margin-top: -10px;
  }
  .quick_list .main {
    padding-left: 10px;
    width: 350px;
  }

  .same_fact .menu {
    margin-left: 90px;
    margin-top: -110px;
  }
  .heading{
    margin-bottom: 220px;
  }
  .contain {
    flex-direction: column;
  }

  .architect {
    /* width: 25%; */
    /* text-align: center; */
    width: 90%;
    margin-left: 18px;
  }
  /* contain start */
  .contain .contain_main {
    width: 90%;
    padding-left: 15px;
  }

  .contain .main {
    width: 100%;
  }
  .contain img {
    /* padding-right: 30px; */
    /* height:00px; */
    /* align-items: flex-start; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .heading {
    width: 60%;
    padding-left: 15px;
  }
  /* contain end */
  /* same_fact start */
  .same_fact {
    /* margin-left: 50; */
    flex-direction: column;
  }

  .last_section {
    margin-top: -0px;
    width: 90%;
    padding-left: 16px;
    /* flex-direction: column; */
  }

  footer {
    text-align: center;
    width: 99%;
    margin-bottom: 20px;
    padding-right: 0px;
  }
  /* same_fact end */
}

/* add the media quary end */
